# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore folder named '.vs'
.vs/

# Ignore folder named 'cmake-build-debug'
cmake-build-debug/

# Ignore all .lastbuildstate files
*.lastbuildstate

# Ignore all .sqlite files
*.sqlite
/Simulation.Contracts/Simulation/Debug/Simulation.Build.CppClean.log
/Simulation.Contracts/Simulation/Debug/Simulation.log
